asgiref
cernrequests
certifi
channels_redis
django-allauth
django-bootstrap3
django-filter
django-ckeditor
django-tables2
djangorestframework
Django
psycopg2-binary
python-decouple
requests
terminaltables
daphne
django-widget-tweaks
django-extensions
numpy
git+https://github.com/CMSTrackerDPG/runregcrawlr
git+https://github.com/CMSTrackerDPG/dqmcrawlr
git+https://github.com/CMSTrackerDPG/wbmcrawlr
git+https://github.com/ptrstn/cms-tracker-studies
pandas==0.24.2
paramiko
seaborn
scipy
scikit-learn
#MulticoreTSNE
umap-learn
runregistry
apscheduler
whitenoise
